#menu_form_po ul li {
    float: left;
    border: 1px solid #CCC;
    border-bottom: none;
    margin-top: 10px;
    background: #3E5F83;
	border-top: 1px solid #CCCCCC;
    
}
#menu_form_po ul li a {
    font-family: "Lucida Grande", "Tahoma", Arial, Helvetica, sans-serif;
	font-size: 11px;
    color: #FFF;
    font-weight:  bold;
   	padding:2px 10px;
}
#menu_form_po ul li a:hover {
    border-bottom: none;
    background: #F2F2F2;
    color: #1C2A47;
	border-top: 1px solid #CCCCCC;
}
.active_po_form li#tab_form_po a, 
.active_po_daftar li#tab_daftar_po a, 
.active_beli_form li#tab_form_beli a, 
.active_beli_daftar li#tab_daftar_beli a, 
.active_pembayaran_beli_daftar li#tab_bayar_beli a, 
.active_pembayaran_beli_form li#tab_form_bayar_beli a, 
.active_jual_form li#tab_form_jual a, 
.active_jual_daftar li#tab_daftar_jual a, 
.active_pembayaran_jual_daftar li#tab_bayar_jual a, 
.active_pembayaran_jual_form li#tab_bayar_jual_form a, 
.active_stok_daftar li#tab_daftar_stok_barang a , 
.active_stok_detail li#tab_detail_stok_barang a, 
.active_laporan_jual li#tab_jual_laporan a, 
.active_laporan_beli li#tab_beli_laporan a, 
.active_pajak_daftar li#tab_pajak_daftar a, 
.active_coa li#tab_daftar_coa a, 
.active_jurnal_daftar li#tab_daftar_jurnal a, 
.active_jurnal_form li#tab_form_jurnal a, 
.active_laporan_jurnal li#tab_jurnal_laporan a, 
.active_laporan_neraca li#tab_neraca_laporan a , 
.active_laporan_labarugi li#tab_labarugi_laporan a, 
.active_supplier_master li#tab_daftar_supplier a, 
.active_barang_master li#tab_daftar_barang_master a, 
.active_cara_bayar_master li#tab_daftar_cara_bayar_master a, 
.active_customer_master li#tab_daftar_customer a, 
.active_operasional_daftar li#tab_daftar_operasional a {
    border-bottom: none;
    background: #F2F2F2;
    color: #1C2A47;
	border-top: 1px solid #CCCCCC;
}

.cage {
    border-bottom: 1px solid #CCC;
    padding: 10px 0px;
    margin-bottom: 10px;
}

table td {
    padding: 5px 0px; 
}
table#gridview{
	border-collapse:separate;
	border: 1px solid #99BBE8;
	margin-bottom: 10px;
}
table#tabel_detail {
    margin-top: 20px;
}
#data_po_left {
    float: left;
    width: 50%;
}
#data_po_left input, #data_po_right input{
    width: 70%;
    border: 1px solid #BDC7D8;
    padding: 3px;
} 
#data_po_left input#datepicker, #data_po_right input#datepicker{
    width: 20%;
    border: 1px solid #BDC7D8;
    padding: 3px;
} 
#data_po_left input#datepicker1, #data_po_right input#datepicker1{
    width: 20%;
    border: 1px solid #BDC7D8;
    padding: 3px;
}
#data_po_left input#datepicker2, #data_po_right input#datepicker2{
    width: 40%;
    border: 1px solid #BDC7D8;
    padding: 3px;
}
#data_po_left input#datepicker3, #data_po_right input#datepicker3{
    width: 40%;
    border: 1px solid #BDC7D8;
    padding: 3px;
}
#data_po_left select, #data_po_right select {
    width: 72.5%;
    border: 1px solid #BDC7D8;
    padding: 3px;
}
#data_po_right {
    float: left;
    width: 50%;
}
td.labels, td.labels_dpo, td.labels_dbyr{
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-left-color: #666666;
	border-right-color:#cccccc;
	border-bottom-color:#666666;
}
td.labels {
    width: 100px; 
    text-align: center;
    background:url(../image/bg_kolom.png);
    color: #FFF;
    margin-right: 100px;
}
.labelss {
    width: 100px; 
    text-align: center;
    /*border: 1px solid #F1F1F1;*/
    /*background-color: #D8DFEA;*/
    background-color: #FFFFFF;
}

td.labels_dpo {
    width: 200px; 
    text-align: center;
    background:url(../image/bg_kolom.png);
    color: #FFF;
    margin-right: 100px;
}

td.labels_dbyr {
    width: 300px; 
    text-align: center;
    background:url(../image/bg_kolom.png);
    color: #FFF;
    margin-right: 100px;
}

.labelss_dpo {
    width: 200px; 
    text-align: center;
    border: 1px solid #F1F1F1;
    /*background-color: #D8DFEA;*/
    background-color: #FFFFFF;
}

.labelss_dbyr {
    width: 200px; 
    text-align: center;
    border: 1px solid #F1F1F1;
    /*background-color: #D8DFEA;*/
    background-color: #FFFFFF;
}

.labelss_panj {
    width: 300px; 
    text-align: center;
    border: 1px solid #F1F1F1;
    /*background-color: #D8DFEA;*/
    background-color: #FFFFFF;
}

#gridview a {
    color:#1C94C4;
    text-decoration:underline;
}
#gridview select, #gridview input {
    width: 85%;
    border: 1px solid #BDC7D8;
    padding: 3px;
}
#gridview input#stok_masuk {
    width: 15%;
    border: 1px solid #BDC7D8;
    padding: 3px;
}
.add {
    background: #3B5998;
    border-color: #D9DFEA #0E1F5B #0E1F5B #D9DFEA;
    border-style: solid;
    border-width: 1px;
    color:#FFF;
    padding: 5px;
    text-align: center;
    float: right;
    margin: 15px 5px 0px 0px;
}
.add a {
    font-family: "Lucida Grande", "Tahoma", Arial, Helvetica, sans-serif;
	font-size: 20px;
    color: #FFF;
    font-weight:  bold;
}

.add_po {
    background: #3B5998;
    border-color: #D9DFEA #0E1F5B #0E1F5B #D9DFEA;
    border-style: solid;
    border-width: 1px;
    color:#FFF;
    padding: 5px;
    text-align: center;
    float: right;
    margin: 15px 5px 0px 0px;
}
.add_po a {
    font-family: "Lucida Grande", "Tahoma", Arial, Helvetica, sans-serif;
	font-size: 20px;
    color: #FFF;
    font-weight:  bold;
}

.add_item {
	width: 150px;
    background: #3B5998;
    border-color: #D9DFEA #0E1F5B #0E1F5B #D9DFEA;
    border-style: solid;
    border-width: 1px;
    color:#FFF;
    padding: 2px;
    text-align: center;
    cursor: pointer;
}

.add_item a {
    font-weight: bold;
    font-family: "Lucida Grande", "Tahoma", Arial, Helvetica, sans-serif;
    color:#FFF;
}

fieldset legend {
    background:url(../image/bg_table_title.png);
    padding: 5px; 
    border: 1px solid #96A6C5;
    color: #FFFFFF;
}
